.App {
  text-align: center;
}

.calculadora {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.placa {
  width: 110px;
    margin: 2em auto;
    background-color: #282c34;
  padding: 10px;
  border-radius: 5px;
}

.monitor{
  background-color: aliceblue;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 1px;
  margin-right: 1px;
  text-align: end;
  color: black;
  border-radius: 2px;
}

.teclas {
  background-color: #2a2d33;
  justify-content: space-around;
}

.linha {
  display: flex;
  margin: 1.5px;
  justify-content: space-around;
  
}

.botao {
  width: 25px;
}

.botaoDuplo {
  width: 51.5px;
}
